@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #efe7d2;
  font-family: "Forum", serif;
}

html,
body {
  background-color: #0a0b0a;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

nav {
  display: flex;
  margin-top: 20px;
  margin-left: 30px;
  border: 1px solid #181818;
  width: 450px;
  height: 57px;
  border-radius: 12px;
  padding: 8px;
  gap: 12px;
  position: relative;
  z-index: 1000;
  transition: all 0.3s ease;
}

/* when menu is open */
.nav-open {
  border-color: transparent;
}

.hamburg {
  width: 46px;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #181818;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  padding-top: 4px;
}

#logo a {
  font-size: 31px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 4px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.nav-links a:hover {
  background-color: #181818;
  color: white;
  border-radius: 8px;
}

#book {
  border-radius: 6px;
  border: 1px solid #181818;
}


.menu-overlay {
  position: fixed;
  inset: 0;
  background-color: #0a0b0a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.rectangle {
  width: 1860px;
  height: 929px;
  border: 1px solid #efe7d2;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.rectangle ul li a {
  text-decoration: none;
  font-size: 64px;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.rectangle ul li a:hover {
  opacity: 0.5;
}
